name: tests
on:
  push:
    branches: [master]
  pull_request:
  schedule:
    - cron: '0 0 * * *'
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [7.1, 7.2, 7.3, 7.4, 8.0, 8.1]
        laravel: [5.8, ^6.0, ^7.0, ^8.0, ^9.0]
        dependency-version: [prefer-lowest, prefer-stable]
        exclude:

          # Edge cases
          - laravel: 5.8
            php: 7.4
            dependency-version: prefer-lowest

          - laravel: 5.8
            php: 8.0

          - php: 8.0
            dependency-version: prefer-lowest

          # PHP Versions
          - php: 7.1
            laravel: ^6.0

          - php: 7.1
            laravel: ^7.0

          - php: 7.1
            laravel: ^8.0

          - php: 7.1
            laravel: ^9.0

          - php: 7.2
            laravel: ^8.0

          - php: 7.2
            laravel: ^9.0

          - php: 7.3
            laravel: ^9.0

          - php: 7.4
            laravel: ^9.0

          - php: 8.1
            laravel: ^6.0

          - php: 8.1
            laravel: ^7.0

        include:
          - laravel: 5.8
            testbench: ^3.8

          - laravel: ^6.0
            testbench: ^4.0

          - laravel: ^7.0
            testbench: ^5.0

          - laravel: ^8.0
            testbench: ^6.3

          - laravel: ^9.0
            testbench: ^7.0

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.dependency-version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4

      - name: Setup PHP
        uses: shivammathur/setup-php@2.16.0
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick
          coverage: none

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
          composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction --no-suggest

      - name: Execute tests
        run: vendor/bin/phpunit
